@import '../../styles/variables';

.form {
	width: 100%;
	max-width: 600px;
	border: 1px solid $c-dark;
	border-radius: 2px;

	.form__inner {
		background-color: #fff;
		padding: 40px;
		min-width: 400px;
	}

	.form__head {
		color: $c-dark;
	}

	.form__field + .form__field {
		margin-top: 15px;
	}

	.form__actions {
		margin-top: 30px;
	}

	label {
		display: block;
		margin-bottom: 5px;
	}

	input {
		display: block;
		height: 30px;
		width: 100%;
	}
}
