@import '~@csstools/normalize.css';
@import '~sanitize.css';
@import 'variables';
@import 'fonts';

body {
  font-family: $ff-sans;
  color: #313131;
}

img {
  max-width: 100%;
}

a {
  color: #426a5a;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

.wrapper {
  height: 100vh;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}
